.background {
    background-color: #22262a;
    }
.text1 {
      color: #ffffff;
    }
.padding {
    padding-top: 5rem;
    }
.navbar-brand {
        color: #ace600  !important;
    } 
a:hover, a:focus {
    color: #ace600;
    text-decoration:none;
    }
a {
  color: #ace600;
   
}
