.background {
    background-color: #22262a;
    background-image: url('/img/background.jpg');
    }
.text1 {
      color: #ffffff;
    }
.padding {
    padding-top: 5rem;
    }
.maintext {   
    padding: 3rem 1.5rem;
    text-align: center;
    color: #ace600;
    }
.navbar-brand {
        color: #ace600  !important;
    } 
a:hover, a:focus {
    color: #ace600;
    text-decoration:none;
    }
a {
  color: #ace600;
   
}
